body
{
    background-color: green;
}
.title
{
    font-family:century gothic;
    font-size:4vh;
    color:greenyellow;
    text-align:center;
}
.button
{
    border:solid 2px greenyellow;
    border-radius:5vh;
    background-color: darkcyan;
    color:greenyellow;
    width:10vw;
    margin:1vh;
    cursor:pointer;
}
.button:hover
{
    border-color:greenyellow;
    background-color: greenyellow;
    color:darkcyan;
}
#page
{
    color:greenyellow;
    text-align:center;
}
